In [1]:
import pandas as pd
import seaborn as sb
import numpy as np

#ILB OLB DE LS OC

In [2]:
raw_data = pd.read_csv('NFLCombineData.csv')
raw_data

,year,name,firstname,lastname,position,heightfeet,heightinches,heightinchestotal,weight,arms,...,threecone,vertical,broad,bench,round,college,pickround,picktotal,wonderlic,nflgrade
0,2015,Ameer Abdullah,Ameer,Abdullah,RB,5,9.0,69.0,205,0.0,...,6.79,42.5,130,24,0,Nebraska,0,0,0,5.9
1,2015,Nelson Agholor,Nelson,Agholor,WR,6,0.0,72.0,198,0.0,...,0.00,0.0,0,12,0,USC,0,0,0,5.6
2,2015,Jay Ajayi,Jay,Ajayi,RB,6,0.0,72.0,221,0.0,...,7.10,39.0,121,19,0,Boise St.,0,0,0,6.0
3,2015,Kwon Alexander,Kwon,Alexander,OLB,6,1.0,73.0,227,0.0,...,7.14,36.0,121,24,0,LSU,0,0,0,5.4
4,2015,Mario Alford,Mario,Alford,WR,5,8.0,68.0,180,0.0,...,6.64,34.0,121,13,0,West Virginia,0,0,0,5.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4940,1999,Daren Yancey,Daren,Yancey,DT,6,6.0,78.0,303,0.0,...,0.00,26.5,97,0,6,Brigham Young,19,188,0,0.0
4941,1999,Craig Yeast,Craig,Yeast,WR,5,8.0,68.0,164,0.0,...,0.00,32.5,112,0,4,Kentucky,3,98,0,0.0
4942,1999,Ryan Young,Ryan,Young,OT,6,6.0,78.0,335,0.0,...,0.00,0.0,0,20,7,Kansas State,17,223,0,0.0
4943,1999,Peppi Zellner,Peppi,Zellner,DE,6,5.0,77.0,246,0.0,...,0.00,35.5,122,20,4,Fort Valley State,37,132,0,0.0
4944,1999,Amos Zereoue,Amos,Zereoue,RB,5,8.0,68.0,203,0.0,...,0.00,0.0,0,0,3,West Virginia,34,95,0,0.0

In [7]:
ilb_data = raw_data.loc[raw_data['position'] == 'ILB']
olb_data = raw_data.loc[raw_data['position'] == 'OLB']
de_data = raw_data.loc[raw_data['position'] == 'DE']
ls_data = raw_data.loc[raw_data['position'] == 'LS']
oc_data = raw_data.loc[raw_data['position'] == 'OC']

In [8]:
ilb_data

,year,name,firstname,lastname,position,heightfeet,heightinches,heightinchestotal,weight,arms,...,threecone,vertical,broad,bench,round,college,pickround,picktotal,wonderlic,nflgrade
10,2015,Stephone Anthony,Stephone,Anthony,ILB,6,3.0,75.0,243,0.0,...,7.07,37.0,122,23,0,Clemson,0,0,0,5.4
78,2015,Paul Dawson,Paul,Dawson,ILB,6,0.0,72.0,235,0.0,...,0.00,28.0,109,21,0,TCU,0,0,0,6.0
80,2015,Trey DePriest,Trey,DePriest,ILB,6,0.0,72.0,254,0.0,...,0.00,0.0,0,0,0,Alabama,0,0,0,5.1
134,2015,Bryce Hager,Bryce,Hager,ILB,6,1.0,73.0,234,0.0,...,7.15,35.0,117,26,0,Baylor,0,0,0,5.1
148,2015,Ben Heeney,Ben,Heeney,ILB,6,0.0,72.0,231,0.0,...,6.68,33.5,120,19,0,Kansas,0,0,0,5.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4878,1999,Brandon Southward,Brandon,Southward,ILB,6,4.0,76.0,242,0.0,...,0.00,30.5,110,20,0,NaN,0,0,0,0.0
4884,1999,Mike Stanec,Mike,Stanec,ILB,6,3.0,75.0,241,0.0,...,0.00,38.0,118,29,0,NaN,0,0,0,0.0
4893,1999,Sam Sword,Sam,Sword,ILB,6,1.0,73.0,242,0.0,...,0.00,0.0,0,0,0,NaN,0,0,0,0.0
4922,1999,Joe Wesley,Joe,Wesley,ILB,6,1.0,73.0,229,0.0,...,0.00,33.0,114,15,0,NaN,0,0,0,0.0
4931,1999,Al Wilson,Al,Wilson,ILB,6,1.0,73.0,239,0.0,...,0.00,33.0,116,17,1,Tennessee,31,31,0,0.0

In [9]:
olb_data

,year,name,firstname,lastname,position,heightfeet,heightinches,heightinchestotal,weight,arms,...,threecone,vertical,broad,bench,round,college,pickround,picktotal,wonderlic,nflgrade
3,2015,Kwon Alexander,Kwon,Alexander,OLB,6,1.0,73.0,227,0.0,...,7.14,36.0,121,24,0,LSU,0,0,0,5.4
13,2015,Neiron Ball,Neiron,Ball,OLB,6,2.0,74.0,236,0.0,...,0.00,0.0,0,22,0,Florida,0,0,0,4.9
16,2015,Vic Beasley,Vic,Beasley,OLB,6,3.0,75.0,246,0.0,...,6.91,41.0,130,35,0,Clemson,0,0,0,6.1
68,2015,Yannik Cudjoe-Virgil,Yannik,Cudjoe-Virgil,OLB,6,2.0,74.0,248,0.0,...,0.00,0.0,0,25,0,Maryland,0,0,0,4.8
71,2015,Aaron Davis,Aaron,Davis,OLB,6,0.0,72.0,225,0.0,...,7.38,29.0,107,16,0,Colorado St.,0,0,0,5.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4882,1999,Donnie Spragan,Donnie,Spragan,OLB,6,4.0,76.0,236,0.0,...,0.00,33.0,113,20,0,NaN,0,0,0,0.0
4887,1999,Derik Stevenson,Derik,Stevenson,OLB,6,4.0,76.0,235,0.0,...,0.00,31.0,113,14,0,NaN,0,0,0,0.0
4888,1999,Gary Stills,Gary,Stills,OLB,6,2.0,74.0,238,0.0,...,0.00,31.5,116,23,3,West Virginia,14,75,0,0.0
4929,1999,Parc Williams,Parc,Williams,OLB,6,3.0,75.0,239,0.0,...,0.00,33.0,114,14,0,NaN,0,0,0,0.0
4938,1999,Mark Word,Mark,Word,OLB,6,5.0,77.0,258,0.0,...,0.00,31.5,115,16,0,NaN,0,0,0,0.0

In [10]:
de_data

,year,name,firstname,lastname,position,heightfeet,heightinches,heightinchestotal,weight,arms,...,threecone,vertical,broad,bench,round,college,pickround,picktotal,wonderlic,nflgrade
8,2015,Henry Anderson,Henry,Anderson,DE,6,6.0,78.0,294,0.0,...,7.20,30.0,111,0,0,Stanford,0,0,0,5.6
14,2015,Tavaris Barnes,Tavaris,Barnes,DE,6,4.0,76.0,282,0.0,...,0.00,0.0,0,22,0,Clemson,0,0,0,5.0
44,2015,Anthony Chickillo,Anthony,Chickillo,DE,6,3.0,75.0,267,0.0,...,7.17,34.5,114,27,0,Miami,0,0,0,5.1
47,2015,Frank Clark,Frank,Clark,DE,6,3.0,75.0,271,0.0,...,7.08,38.5,118,19,0,Michigan,0,0,0,4.8
64,2015,Corey Crawford,Corey,Crawford,DE,6,5.0,77.0,283,0.0,...,7.64,33.0,110,0,0,Clemson,0,0,0,4.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4899,1999,Corey Terry,Corey,Terry,DE,6,3.0,75.0,254,0.0,...,0.00,0.0,0,0,7,Tennessee,44,250,0,0.0
4909,1999,Dimitrius Underwood,Dimitrius,Underwood,DE,6,6.0,78.0,281,0.0,...,0.00,0.0,0,0,1,Michigan State,29,29,0,0.0
4918,1999,Alton Weaver,Alton,Weaver,DE,6,4.0,76.0,296,0.0,...,0.00,29.5,106,17,0,NaN,0,0,0,0.0
4926,1999,Aaron Williams,Aaron,Williams,DE,6,5.0,77.0,253,0.0,...,0.00,33.5,108,19,0,NaN,0,0,0,0.0
4943,1999,Peppi Zellner,Peppi,Zellner,DE,6,5.0,77.0,246,0.0,...,0.00,35.5,122,20,4,Fort Valley State,37,132,0,0.0

In [11]:
ls_data

,year,name,firstname,lastname,position,heightfeet,heightinches,heightinchestotal,weight,arms,...,threecone,vertical,broad,bench,round,college,pickround,picktotal,wonderlic,nflgrade
40,2015,Joe Cardona,Joe,Cardona,LS,6,2.0,74.0,242,0.0,...,0.0,33.0,0,30,0,Navy,0,0,0,0.0
444,2014,Marcus Heit,Marcus,Heit,LS,6,3.0,75.0,258,0.0,...,0.0,29.0,0,0,0,Kansas St.,0,0,0,5.0

In [12]:
oc_data

,year,name,firstname,lastname,position,heightfeet,heightinches,heightinchestotal,weight,arms,...,threecone,vertical,broad,bench,round,college,pickround,picktotal,wonderlic,nflgrade
696,2013,Braxston Cave,Braxston,Cave,OC,6,3.0,75.0,303,32.0,...,7.81,25.5,98,0,0,NaN,0,0,0,0.0
725,2013,Travis Frederick,Travis,Frederick,OC,6,4.0,76.0,312,33.0,...,7.81,28.5,97,21,1,Wisconsin,31,31,0,0.0
759,2013,Khaled Holmes,Khaled,Holmes,OC,6,3.0,75.0,302,35.0,...,0.00,0.0,0,13,4,USC,24,121,0,0.0
781,2013,T.J. Johnson,T.J.,Johnson,OC,6,4.0,76.0,310,33.5,...,7.83,25.5,96,32,7,South Carolina,45,251,0,0.0
803,2013,P.J. Lonergan,P.J.,Lonergan,OC,6,3.0,75.0,304,33.0,...,0.00,0.0,0,25,0,NaN,0,0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4854,1999,Grey Ruegamer,Grey,Ruegamer,OC,6,5.0,77.0,315,0.0,...,0.00,27.5,94,18,3,Arizona State,11,72,0,0.0
4860,1999,Tom Schau,Tom,Schau,OC,6,5.0,77.0,302,0.0,...,0.00,28.0,109,24,0,NaN,0,0,0,0.0
4874,1999,Jeff Smith,Jeff,Smith,OC,6,4.0,76.0,286,0.0,...,0.00,25.0,102,38,0,NaN,0,0,0,0.0
4908,1999,Brian Uhl,Brian,Uhl,OC,6,4.0,76.0,294,0.0,...,0.00,25.0,99,14,0,NaN,0,0,0,0.0
4937,1999,Damien Woody,Damien,Woody,OC,6,3.0,75.0,328,0.0,...,0.00,28.5,100,26,1,Boston College,17,17,0,0.0