In [3]:
# initializing notebook - ashwat

In [7]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import math
%matplotlib inline

In [8]:
raw_data = pd.read_csv('NFLCombineData.csv')
raw_data

# my positions: QB P K FS SS

,year,name,firstname,lastname,position,heightfeet,heightinches,heightinchestotal,weight,arms,...,threecone,vertical,broad,bench,round,college,pickround,picktotal,wonderlic,nflgrade
0,2015,Ameer Abdullah,Ameer,Abdullah,RB,5,9.0,69.0,205,0.0,...,6.79,42.5,130,24,0,Nebraska,0,0,0,5.9
1,2015,Nelson Agholor,Nelson,Agholor,WR,6,0.0,72.0,198,0.0,...,0.00,0.0,0,12,0,USC,0,0,0,5.6
2,2015,Jay Ajayi,Jay,Ajayi,RB,6,0.0,72.0,221,0.0,...,7.10,39.0,121,19,0,Boise St.,0,0,0,6.0
3,2015,Kwon Alexander,Kwon,Alexander,OLB,6,1.0,73.0,227,0.0,...,7.14,36.0,121,24,0,LSU,0,0,0,5.4
4,2015,Mario Alford,Mario,Alford,WR,5,8.0,68.0,180,0.0,...,6.64,34.0,121,13,0,West Virginia,0,0,0,5.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4940,1999,Daren Yancey,Daren,Yancey,DT,6,6.0,78.0,303,0.0,...,0.00,26.5,97,0,6,Brigham Young,19,188,0,0.0
4941,1999,Craig Yeast,Craig,Yeast,WR,5,8.0,68.0,164,0.0,...,0.00,32.5,112,0,4,Kentucky,3,98,0,0.0
4942,1999,Ryan Young,Ryan,Young,OT,6,6.0,78.0,335,0.0,...,0.00,0.0,0,20,7,Kansas State,17,223,0,0.0
4943,1999,Peppi Zellner,Peppi,Zellner,DE,6,5.0,77.0,246,0.0,...,0.00,35.5,122,20,4,Fort Valley State,37,132,0,0.0
4944,1999,Amos Zereoue,Amos,Zereoue,RB,5,8.0,68.0,203,0.0,...,0.00,0.0,0,0,3,West Virginia,34,95,0,0.0

In [9]:
raw_data['position'].unique()

array(['RB', 'WR', 'OLB', 'FS', 'DE', 'TE', 'ILB', 'DT', 'P', 'QB', 'OG',
       'OT', 'K', 'FB', 'SS', 'LS', 'CB', 'C', 'NT', 'OC'], dtype=object)

In [10]:
raw_data_no_outlier = raw_data.loc[raw_data['vertical'] > 0]
raw_data_no_outlier = raw_data.loc[raw_data['threecone'] > 0]
raw_data_no_outlier = raw_data.loc[raw_data['broad'] > 0]
raw_data_no_outlier = raw_data.loc[raw_data['bench'] > 0]
raw_data_no_outlier = raw_data.loc[raw_data['round'] > 0]

# raw_data_no_outlier

,year,name,firstname,lastname,position,heightfeet,heightinches,heightinchestotal,weight,arms,...,threecone,vertical,broad,bench,round,college,pickround,picktotal,wonderlic,nflgrade
320,2014,Jared Abbrederis,Jared,Abbrederis,WR,6,1.0,73.0,195,0.0,...,6.80,30.5,117,4,6,Wisconsin,16,176,0,5.2
321,2014,Davante Adams,Davante,Adams,WR,6,1.0,73.0,212,0.0,...,6.82,39.5,123,14,2,Fresno St.,21,53,0,6.0
322,2014,Mo Alexander,Mo,Alexander,SS,6,1.0,73.0,220,0.0,...,7.05,38.0,123,0,4,Utah St.,14,110,0,4.9
323,2014,Ricardo Allen,Ricardo,Allen,CB,5,9.0,69.0,187,0.0,...,0.00,35.5,117,13,5,Purdue,19,147,0,5.1
324,2014,Jace Amaro,Jace,Amaro,TE,6,5.0,77.0,265,0.0,...,7.42,33.0,118,28,2,Texas Tech,17,49,0,5.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4940,1999,Daren Yancey,Daren,Yancey,DT,6,6.0,78.0,303,0.0,...,0.00,26.5,97,0,6,Brigham Young,19,188,0,0.0
4941,1999,Craig Yeast,Craig,Yeast,WR,5,8.0,68.0,164,0.0,...,0.00,32.5,112,0,4,Kentucky,3,98,0,0.0
4942,1999,Ryan Young,Ryan,Young,OT,6,6.0,78.0,335,0.0,...,0.00,0.0,0,20,7,Kansas State,17,223,0,0.0
4943,1999,Peppi Zellner,Peppi,Zellner,DE,6,5.0,77.0,246,0.0,...,0.00,35.5,122,20,4,Fort Valley State,37,132,0,0.0
4944,1999,Amos Zereoue,Amos,Zereoue,RB,5,8.0,68.0,203,0.0,...,0.00,0.0,0,0,3,West Virginia,34,95,0,0.0

In [31]:
# my positions: QB P K FS SS
qb_data = raw_data.loc[raw_data['position'] == 'QB']
p_data = raw_data.loc[raw_data['position'] == 'P']
k_data = raw_data.loc[raw_data['position'] == 'K']
fs_data = raw_data.loc[raw_data['position'] == 'FS']
ss_data = raw_data.loc[raw_data['position'] == 'SS']

In [34]:
qb_data
# 304 entries

,year,name,firstname,lastname,position,heightfeet,heightinches,heightinchestotal,weight,arms,...,threecone,vertical,broad,bench,round,college,pickround,picktotal,wonderlic,nflgrade
19,2015,Bryan Bennett,Bryan,Bennett,QB,6,2.0,74.0,211,0.0,...,7.13,37.0,125,0,0,Southeastern Louisiana,0,0,0,0.0
25,2015,Anthony Boone,Anthony,Boone,QB,6,0.0,72.0,231,0.0,...,7.47,26.5,100,0,0,Duke,0,0,0,5.0
28,2015,Brandon Bridge,Brandon,Bridge,QB,6,4.0,76.0,229,0.0,...,7.18,33.0,110,0,0,South Alabama,0,0,0,5.0
39,2015,Shane Carden,Shane,Carden,QB,6,2.0,74.0,218,0.0,...,7.17,29.5,104,0,0,East Carolina,0,0,0,5.1
100,2015,Cody Fajardo,Cody,Fajardo,QB,6,1.0,73.0,223,0.0,...,6.95,32.5,118,0,0,Nevada,0,0,0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4792,1999,Donovan McNabb,Donovan,McNabb,QB,6,2.0,74.0,223,0.0,...,0.00,33.0,117,0,1,Syracuse,2,2,14,0.0
4793,1999,Cade McNown,Cade,McNown,QB,6,1.0,73.0,213,0.0,...,0.00,33.5,113,0,1,UCLA,12,12,28,0.0
4871,1999,Akili Smith,Akili,Smith,QB,6,3.0,75.0,227,0.0,...,0.00,34.0,114,0,1,Oregon,3,3,26,0.0
4925,1999,Ted White,Ted,White,QB,6,3.0,75.0,226,0.0,...,0.00,30.5,106,0,0,NaN,0,0,12,0.0
4939,1999,Anthony Wright,Anthony,Wright,QB,6,2.0,74.0,195,0.0,...,0.00,31.0,116,0,0,NaN,0,0,16,0.0

In [36]:
p_data
# 12 entries

,year,name,firstname,lastname,position,heightfeet,heightinches,heightinchestotal,weight,arms,...,threecone,vertical,broad,bench,round,college,pickround,picktotal,wonderlic,nflgrade
15,2015,Wil Baumann,Wil,Baumann,P,6,6.0,78.0,187,0.0,...,0.0,0.0,0,0,0,N.C. State,0,0,0,5.1
46,2015,Kyle Christy,Kyle,Christy,P,6,2.0,74.0,202,0.0,...,0.0,0.0,0,0,0,Florida,0,0,0,0.0
172,2015,Will Johnson,Will,Johnson,P,6,2.0,74.0,206,0.0,...,0.0,0.0,0,0,0,Texas St.,0,0,0,0.0
188,2015,Kyle Loomis,Kyle,Loomis,P,6,2.0,74.0,221,0.0,...,0.0,0.0,0,0,0,Portland St.,0,0,0,5.3
226,2015,Trevor Pardula,Trevor,Pardula,P,6,4.0,76.0,227,0.0,...,0.0,0.0,0,0,0,Kansas,0,0,0,0.0
237,2015,Bradley Pinion,Bradley,Pinion,P,6,5.0,77.0,229,0.0,...,0.0,0.0,0,0,0,Clemson,0,0,0,5.0
254,2015,Spencer Roth,Spencer,Roth,P,6,4.0,76.0,227,0.0,...,0.0,0.0,0,0,0,Baylor,0,0,0,5.1
370,2014,Steven Clark,Steven,Clark,P,6,5.0,77.0,231,0.0,...,0.0,0.0,0,0,0,Auburn,0,0,0,4.8
452,2014,Tom Hornsey,Tom,Hornsey,P,6,3.0,75.0,221,0.0,...,0.0,0.0,0,0,0,Memphis,0,0,0,5.0
496,2014,Richie Leone,Richie,Leone,P,6,3.0,75.0,211,0.0,...,0.0,0.0,0,0,0,Houston,0,0,0,5.0
511,2014,Cody Mandell,Cody,Mandell,P,6,2.0,74.0,216,0.0,...,0.0,27.0,0,0,0,Alabama,0,0,0,5.1
548,2014,Pat O'Donnell,Pat,O'Donnell,P,6,4.0,76.0,220,0.0,...,0.0,30.5,0,23,6,Miami,31,191,0,5.0

In [38]:
k_data
# 9 entries

,year,name,firstname,lastname,position,heightfeet,heightinches,heightinchestotal,weight,arms,...,threecone,vertical,broad,bench,round,college,pickround,picktotal,wonderlic,nflgrade
29,2015,Kyle Brindza,Kyle,Brindza,K,6,1.0,73.0,236,0.0,...,0.0,0.0,0,14,0,Notre Dame,0,0,0,4.8
102,2015,Sam Ficken,Sam,Ficken,K,6,1.0,73.0,191,0.0,...,0.0,0.0,0,0,0,Penn St.,0,0,0,4.8
182,2015,Josh Lambo,Josh,Lambo,K,6,0.0,72.0,216,0.0,...,0.0,0.0,0,0,0,Texas A&M,0,0,0,0.0
196,2015,Justin Manton,Justin,Manton,K,6,3.0,75.0,196,0.0,...,0.0,0.0,0,0,0,Louisiana-Monroe,0,0,0,4.8
249,2015,Jared Roberts,Jared,Roberts,K,6,1.0,73.0,210,0.0,...,0.0,0.0,0,0,0,Colorado St.,0,0,0,4.8
347,2014,Chris Boswell,Chris,Boswell,K,6,2.0,74.0,185,0.0,...,0.0,0.0,0,0,0,Rice,0,0,0,5.1
410,2014,Anthony Fera,Anthony,Fera,K,6,1.0,73.0,211,0.0,...,0.0,0.0,0,0,0,Texas,0,0,0,5.0
450,2014,Zach Hocker,Zach,Hocker,K,6,0.0,72.0,189,0.0,...,0.0,0.0,0,0,8,Arkansas,4,228,0,4.5
583,2014,Cairo Santos,Cairo,Santos,K,5,8.0,68.0,164,0.0,...,0.0,0.0,0,0,0,Tulane,0,0,0,5.1

In [40]:
fs_data
# 211 entries

,year,name,firstname,lastname,position,heightfeet,heightinches,heightinchestotal,weight,arms,...,threecone,vertical,broad,bench,round,college,pickround,picktotal,wonderlic,nflgrade
6,2015,Adrian Amos,Adrian,Amos,FS,6,0.0,72.0,218,0.0,...,7.09,35.5,122,0,0,Penn St.,0,0,0,5.5
24,2015,Detrick Bonner,Detrick,Bonner,FS,6,0.0,72.0,207,0.0,...,0.00,0.0,0,15,0,Virginia Tech,0,0,0,5.2
63,2015,Justin Cox,Justin,Cox,FS,6,1.0,73.0,191,0.0,...,7.05,38.0,129,15,0,Mississippi St.,0,0,0,4.9
90,2015,Kurtis Drummond,Kurtis,Drummond,FS,6,1.0,73.0,208,0.0,...,7.09,39.5,119,0,0,Michigan St.,0,0,0,5.5
98,2015,Durell Eskridge,Durell,Eskridge,FS,6,3.0,75.0,208,0.0,...,7.09,31.0,117,0,0,Syracuse,0,0,0,5.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4900,1999,Myron Terry,Myron,Terry,FS,6,2.0,74.0,203,0.0,...,0.00,35.0,117,21,0,NaN,0,0,0,0.0
4901,1999,Eric Thigpen,Eric,Thigpen,FS,6,1.0,73.0,198,0.0,...,0.00,35.0,115,14,6,Iowa,31,200,0,0.0
4904,1999,Ricky Thompson,Ricky,Thompson,FS,6,1.0,73.0,181,0.0,...,0.00,36.0,121,15,0,NaN,0,0,0,0.0
4912,1999,Brad Ware,Brad,Ware,FS,6,2.0,74.0,207,0.0,...,0.00,37.0,118,18,4,Auburn,19,114,0,0.0
4914,1999,Marcus Washington,Marcus,Washington,FS,6,2.0,74.0,219,0.0,...,0.00,37.0,117,16,6,Colorado,11,180,0,0.0

In [42]:
ss_data
# 184 entries

,year,name,firstname,lastname,position,heightfeet,heightinches,heightinchestotal,weight,arms,...,threecone,vertical,broad,bench,round,college,pickround,picktotal,wonderlic,nflgrade
37,2015,Ibraheim Campbell,Ibraheim,Campbell,SS,5,11.0,71.0,208,0.0,...,0.00,0.0,0,23,0,Northwestern,0,0,0,5.2
58,2015,Landon Collins,Landon,Collins,SS,6,0.0,72.0,228,0.0,...,7.38,35.0,120,0,0,Alabama,0,0,0,6.4
113,2015,Clayton Geathers,Clayton,Geathers,SS,6,2.0,74.0,218,0.0,...,7.21,37.0,120,22,0,Central Florida,0,0,0,5.2
142,2015,Anthony Harris,Anthony,Harris,SS,6,1.0,73.0,183,0.0,...,0.00,0.0,0,0,0,Virginia,0,0,0,5.6
166,2015,Kyshoen Jarrett,Kyshoen,Jarrett,SS,5,10.0,70.0,200,0.0,...,6.95,33.0,109,21,0,Virginia Tech,0,0,0,5.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4738,1999,Paris Johnson,Paris,Johnson,SS,6,2.0,74.0,207,0.0,...,0.00,35.0,117,16,5,Miami (OH),22,155,0,0.0
4805,1999,Damon Moore,Damon,Moore,SS,5,11.0,71.0,209,0.0,...,0.00,35.0,118,21,4,Ohio State,33,128,0,0.0
4845,1999,Marcus Ray,Marcus,Ray,SS,5,11.0,71.0,206,0.0,...,0.00,35.5,115,0,0,NaN,0,0,0,0.0
4866,1999,Scott Shields,Scott,Shields,SS,6,4.0,76.0,228,0.0,...,0.00,35.0,123,23,2,Weber State,28,59,0,0.0
4876,1999,Marquis Smith,Marquis,Smith,SS,6,3.0,75.0,218,0.0,...,0.00,39.5,133,0,3,California,15,76,0,0.0

In [45]:
# data = qb_data.groupby(['threecone'])
# position_data.apply(print)

In [30]:
# rb_data.boxplot(column=['vertical'])
# sns.violinplot(x=rb_data["heightinchestotal"])