In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import math
%matplotlib inline

Bad key "text.kerning_factor" on line 4 in
C:\Users\Public\anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test_patch.mplstyle.
You probably need to get an updated matplotlibrc file from
https://github.com/matplotlib/matplotlib/blob/v3.1.3/matplotlibrc.template
or from the matplotlib source distribution

In [2]:
raw_data = pd.read_csv('NFLCombineData.csv')
raw_data

,year,name,firstname,lastname,position,heightfeet,heightinches,heightinchestotal,weight,arms,...,threecone,vertical,broad,bench,round,college,pickround,picktotal,wonderlic,nflgrade
0,2015,Ameer Abdullah,Ameer,Abdullah,RB,5,9.0,69.0,205,0.0,...,6.79,42.5,130,24,0,Nebraska,0,0,0,5.9
1,2015,Nelson Agholor,Nelson,Agholor,WR,6,0.0,72.0,198,0.0,...,0.00,0.0,0,12,0,USC,0,0,0,5.6
2,2015,Jay Ajayi,Jay,Ajayi,RB,6,0.0,72.0,221,0.0,...,7.10,39.0,121,19,0,Boise St.,0,0,0,6.0
3,2015,Kwon Alexander,Kwon,Alexander,OLB,6,1.0,73.0,227,0.0,...,7.14,36.0,121,24,0,LSU,0,0,0,5.4
4,2015,Mario Alford,Mario,Alford,WR,5,8.0,68.0,180,0.0,...,6.64,34.0,121,13,0,West Virginia,0,0,0,5.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4940,1999,Daren Yancey,Daren,Yancey,DT,6,6.0,78.0,303,0.0,...,0.00,26.5,97,0,6,Brigham Young,19,188,0,0.0
4941,1999,Craig Yeast,Craig,Yeast,WR,5,8.0,68.0,164,0.0,...,0.00,32.5,112,0,4,Kentucky,3,98,0,0.0
4942,1999,Ryan Young,Ryan,Young,OT,6,6.0,78.0,335,0.0,...,0.00,0.0,0,20,7,Kansas State,17,223,0,0.0
4943,1999,Peppi Zellner,Peppi,Zellner,DE,6,5.0,77.0,246,0.0,...,0.00,35.5,122,20,4,Fort Valley State,37,132,0,0.0
4944,1999,Amos Zereoue,Amos,Zereoue,RB,5,8.0,68.0,203,0.0,...,0.00,0.0,0,0,3,West Virginia,34,95,0,0.0

In [3]:
ot_data = raw_data.loc[raw_data['position'] == 'OT']
dt_data = raw_data.loc[raw_data['position'] == 'DT']
og_data = raw_data.loc[raw_data['position'] == 'OG']
c_data = raw_data.loc[raw_data['position'] == 'C']
nt_data = raw_data.loc[raw_data['position'] == 'NT']

In [4]:
ot_data

,year,name,firstname,lastname,position,heightfeet,heightinches,heightinchestotal,weight,arms,...,threecone,vertical,broad,bench,round,college,pickround,picktotal,wonderlic,nflgrade
26,2015,Brett Boyko,Brett,Boyko,OT,6,7.0,79.0,301,0.0,...,7.91,25.0,103,0,0,UNLV,0,0,0,4.8
32,2015,Jamon Brown,Jamon,Brown,OT,6,4.0,76.0,323,0.0,...,0.00,0.0,0,0,0,Louisville,0,0,0,5.3
50,2015,T.J. Clemmings,T.J.,Clemmings,OT,6,5.0,77.0,309,0.0,...,7.68,32.5,111,22,0,Pittsburgh,0,0,0,6.1
53,2015,Takoby Cofield,Takoby,Cofield,OT,6,4.0,76.0,310,0.0,...,8.09,30.0,101,23,0,Duke,0,0,0,4.9
57,2015,La'el Collins,La'el,Collins,OT,6,4.0,76.0,305,0.0,...,7.70,27.0,108,21,0,LSU,0,0,0,6.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4906,1999,Rex Tucker,Rex,Tucker,OT,6,5.0,77.0,303,0.0,...,0.00,30.0,106,27,3,Texas A&M,5,66,0,0.0
4920,1999,Floyd Wedderburn,Floyd,Wedderburn,OT,6,5.0,77.0,334,0.0,...,0.00,24.5,86,20,5,Penn State,7,140,0,0.0
4921,1999,John Welbourn,John,Welbourn,OT,6,5.0,77.0,317,0.0,...,0.00,30.0,99,24,4,California,2,97,0,0.0
4936,1999,Joe Wong,Joe,Wong,OT,6,6.0,78.0,314,0.0,...,0.00,27.0,100,22,7,Brigham Young,38,244,0,0.0
4942,1999,Ryan Young,Ryan,Young,OT,6,6.0,78.0,335,0.0,...,0.00,0.0,0,20,7,Kansas State,17,223,0,0.0

In [5]:
dt_data

,year,name,firstname,lastname,position,heightfeet,heightinches,heightinchestotal,weight,arms,...,threecone,vertical,broad,bench,round,college,pickround,picktotal,wonderlic,nflgrade
11,2015,Arik Armstead,Arik,Armstead,DT,6,7.0,79.0,292,0.0,...,7.57,34.0,117,24,0,Oregon,0,0,0,6.2
20,2015,Michael Bennett,Michael,Bennett,DT,6,2.0,74.0,293,0.0,...,0.00,0.0,0,0,0,Ohio St.,0,0,0,6.0
22,2015,Angelo Blackson,Angelo,Blackson,DT,6,4.0,76.0,318,0.0,...,7.50,31.0,101,20,0,Auburn,0,0,0,5.0
34,2015,Malcom Brown,Malcom,Brown,DT,6,2.0,74.0,319,0.0,...,7.84,29.5,98,26,0,Texas,0,0,0,6.1
61,2015,Xavier Cooper,Xavier,Cooper,DT,6,3.0,75.0,293,0.0,...,7.23,29.0,110,29,0,Washington St.,0,0,0,5.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4895,1999,Pene Talamaivao,Pene,Talamaivao,DT,6,4.0,76.0,301,0.0,...,0.00,27.5,103,17,0,NaN,0,0,0,0.0
4905,1999,John Thornton,John,Thornton,DT,6,3.0,75.0,299,0.0,...,0.00,32.0,111,26,2,West Virginia,21,52,0,0.0
4924,1999,Chris White,Chris,White,DT,6,3.0,75.0,282,0.0,...,0.00,29.0,107,25,7,Southern University,40,246,0,0.0
4932,1999,Jason Wiltz,Jason,Wiltz,DT,6,4.0,76.0,308,0.0,...,0.00,27.5,101,0,4,Nebraska,28,123,0,0.0
4940,1999,Daren Yancey,Daren,Yancey,DT,6,6.0,78.0,303,0.0,...,0.00,26.5,97,0,6,Brigham Young,19,188,0,0.0

In [6]:
og_data

,year,name,firstname,lastname,position,heightfeet,heightinches,heightinchestotal,weight,arms,...,threecone,vertical,broad,bench,round,college,pickround,picktotal,wonderlic,nflgrade
23,2015,Al Bond,Al,Bond,OG,6,4.0,76.0,303,0.0,...,7.90,23.5,90,22,0,Memphis,0,0,0,5.0
35,2015,Trenton Brown,Trenton,Brown,OG,6,8.0,80.0,355,0.0,...,8.23,23.5,97,20,0,Florida,0,0,0,5.3
38,2015,A.J. Cann,A.J.,Cann,OG,6,3.0,75.0,313,0.0,...,0.00,0.0,0,26,0,South Carolina,0,0,0,6.0
89,2015,Jamil Douglas,Jamil,Douglas,OG,6,4.0,76.0,304,0.0,...,7.99,29.0,99,28,0,Arizona State,0,0,0,5.2
99,2015,Tayo Fabuluje,Tayo,Fabuluje,OG,6,6.0,78.0,353,0.0,...,0.00,29.5,0,0,0,TCU,0,0,0,5.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4867,1999,Bobby Singh,Bobby,Singh,OG,6,3.0,75.0,316,0.0,...,0.00,26.0,94,24,0,NaN,0,0,0,0.0
4880,1999,Cameron Spikes,Cameron,Spikes,OG,6,3.0,75.0,314,0.0,...,0.00,32.5,117,23,5,Texas A&M,12,145,0,0.0
4902,1999,Randy Thomas,Randy,Thomas,OG,6,4.0,76.0,306,0.0,...,0.00,31.0,107,31,2,Mississippi State,26,57,0,0.0
4934,1999,Brad Winn,Brad,Winn,OG,6,5.0,77.0,339,0.0,...,0.00,23.0,87,23,0,NaN,0,0,0,0.0
4935,1999,Jerry Wisne,Jerry,Wisne,OG,6,7.0,79.0,306,0.0,...,0.00,28.0,100,30,5,Notre Dame,10,143,0,0.0

In [7]:
c_data

,year,name,firstname,lastname,position,heightfeet,heightinches,heightinchestotal,weight,arms,...,threecone,vertical,broad,bench,round,college,pickround,picktotal,wonderlic,nflgrade
85,2015,Reese Dismukes,Reese,Dismukes,C,6,3.0,75.0,296,0.0,...,8.14,27.5,107,23,0,Auburn,0,0,0,5.3
97,2015,Cameron Erving,Cameron,Erving,C,6,5.0,77.0,313,0.0,...,7.48,30.5,112,30,0,Florida St.,0,0,0,5.8
103,2015,B.J. Finney,B.J.,Finney,C,6,4.0,76.0,318,0.0,...,0.00,24.0,99,20,0,Kansas St.,0,0,0,5.6
111,2015,Andy Gallik,Andy,Gallik,C,6,2.0,74.0,306,0.0,...,7.66,27.0,96,29,0,Boston College,0,0,0,5.5
112,2015,Max Garcia,Max,Garcia,C,6,4.0,76.0,309,0.0,...,0.00,0.0,0,0,0,Florida,0,0,0,5.2
123,2015,Hroniss Grasu,Hroniss,Grasu,C,6,3.0,75.0,297,0.0,...,0.00,0.0,0,0,0,Oregon,0,0,0,5.7
137,2015,Chad Hamilton,Chad,Hamilton,C,6,2.0,74.0,292,0.0,...,0.00,0.0,0,0,0,Coastal Carolina,0,0,0,5.2
194,2015,Greg Mancz,Greg,Mancz,C,6,4.0,76.0,301,0.0,...,0.00,0.0,0,0,0,Toledo,0,0,0,5.4
199,2015,Ali Marpet,Ali,Marpet,C,6,4.0,76.0,307,0.0,...,7.33,30.5,108,30,0,Hobart & William Smith,0,0,0,5.4
327,2014,Matt Armstrong,Matt,Armstrong,C,6,2.0,74.0,302,0.0,...,0.00,0.0,0,0,0,Grand Valley St.,0,0,0,5.1
342,2014,Russell Bodine,Russell,Bodine,C,6,3.0,75.0,310,0.0,...,8.26,29.0,109,42,4,North Carolina,15,111,0,5.3
441,2014,Jonotthan Harrison,Jonotthan,Harrison,C,6,3.0,75.0,304,0.0,...,7.97,27.0,113,27,0,Florida,0,0,0,5.2
460,2014,Gabe Ikard,Gabe,Ikard,C,6,4.0,76.0,304,0.0,...,7.30,26.0,103,22,0,Oklahoma,0,0,0,5.2
489,2014,Tyler Larsen,Tyler,Larsen,C,6,4.0,76.0,313,0.0,...,8.22,23.5,102,36,0,Utah St.,0,0,0,5.2
500,2014,Corey Linsley,Corey,Linsley,C,6,3.0,75.0,296,0.0,...,0.00,27.0,0,36,6,Ohio St.,1,161,0,5.1
516,2014,Marcus Martin,Marcus,Martin,C,6,3.0,75.0,320,0.0,...,0.00,0.0,0,23,3,USC,6,70,0,5.5
551,2014,Matthew Paradis,Matthew,Paradis,C,6,3.0,75.0,306,0.0,...,7.60,26.0,103,23,7,Boise St.,15,207,0,5.0
575,2014,Weston Richburg,Weston,Richburg,C,6,3.0,75.0,298,0.0,...,7.93,25.5,106,25,2,Colorado St.,11,43,0,5.3
607,2014,James Stone,James,Stone,C,6,4.0,76.0,306,0.0,...,8.16,27.5,105,22,0,Tennessee,0,0,0,5.1
608,2014,Bryan Stork,Bryan,Stork,C,6,4.0,76.0,315,0.0,...,0.00,0.0,0,0,4,Florida St.,9,105,0,5.2
613,2014,Travis Swanson,Travis,Swanson,C,6,5.0,77.0,312,0.0,...,7.73,26.0,95,20,3,Arkansas,12,76,0,5.5

In [8]:
nt_data

,year,name,firstname,lastname,position,heightfeet,heightinches,heightinchestotal,weight,arms,...,threecone,vertical,broad,bench,round,college,pickround,picktotal,wonderlic,nflgrade
165,2015,Grady Jarrett,Grady,Jarrett,NT,6,1.0,73.0,304,0.0,...,7.37,31.0,112,30,0,Clemson,0,0,0,5.8
228,2015,David Parry,David,Parry,NT,6,1.0,73.0,308,0.0,...,0.00,29.0,103,34,0,Stanford,0,0,0,5.4
235,2015,Jordan Phillips,Jordan,Phillips,NT,6,5.0,77.0,329,0.0,...,7.88,30.0,105,28,0,Oklahoma,0,0,0,6.2
266,2015,Danny Shelton,Danny,Shelton,NT,6,2.0,74.0,339,0.0,...,7.99,30.5,95,34,0,Washington,0,0,0,6.4
270,2015,Deon Simon,Deon,Simon,NT,6,4.0,76.0,321,0.0,...,7.92,29.5,105,35,0,Northwestern St. (LA),0,0,0,5.0
368,2014,Ryan Carrethers,Ryan,Carrethers,NT,6,1.0,73.0,337,0.0,...,7.89,26.0,88,32,6,Arkansas State,5,165,0,5.2
471,2014,Timmy Jernigan,Timmy,Jernigan,NT,6,2.0,74.0,299,0.0,...,0.00,29.5,102,27,2,Florida St.,16,48,0,5.6
484,2014,Zachariah Kerr,Zachariah,Kerr,NT,6,1.0,73.0,326,0.0,...,7.93,28.5,99,28,0,Delaware,0,0,0,5.1
546,2014,Louis Nix,Louis,Nix,NT,6,2.0,74.0,331,0.0,...,8.29,25.5,97,0,3,Notre Dame,19,83,0,5.9

In [10]:
dt_nt_data = raw_data.loc[(raw_data['position'] == 'NT') | (raw_data['position'] == 'DT')]

In [11]:
dt_nt_data

,year,name,firstname,lastname,position,heightfeet,heightinches,heightinchestotal,weight,arms,...,threecone,vertical,broad,bench,round,college,pickround,picktotal,wonderlic,nflgrade
11,2015,Arik Armstead,Arik,Armstead,DT,6,7.0,79.0,292,0.0,...,7.57,34.0,117,24,0,Oregon,0,0,0,6.2
20,2015,Michael Bennett,Michael,Bennett,DT,6,2.0,74.0,293,0.0,...,0.00,0.0,0,0,0,Ohio St.,0,0,0,6.0
22,2015,Angelo Blackson,Angelo,Blackson,DT,6,4.0,76.0,318,0.0,...,7.50,31.0,101,20,0,Auburn,0,0,0,5.0
34,2015,Malcom Brown,Malcom,Brown,DT,6,2.0,74.0,319,0.0,...,7.84,29.5,98,26,0,Texas,0,0,0,6.1
61,2015,Xavier Cooper,Xavier,Cooper,DT,6,3.0,75.0,293,0.0,...,7.23,29.0,110,29,0,Washington St.,0,0,0,5.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4895,1999,Pene Talamaivao,Pene,Talamaivao,DT,6,4.0,76.0,301,0.0,...,0.00,27.5,103,17,0,NaN,0,0,0,0.0
4905,1999,John Thornton,John,Thornton,DT,6,3.0,75.0,299,0.0,...,0.00,32.0,111,26,2,West Virginia,21,52,0,0.0
4924,1999,Chris White,Chris,White,DT,6,3.0,75.0,282,0.0,...,0.00,29.0,107,25,7,Southern University,40,246,0,0.0
4932,1999,Jason Wiltz,Jason,Wiltz,DT,6,4.0,76.0,308,0.0,...,0.00,27.5,101,0,4,Nebraska,28,123,0,0.0
4940,1999,Daren Yancey,Daren,Yancey,DT,6,6.0,78.0,303,0.0,...,0.00,26.5,97,0,6,Brigham Young,19,188,0,0.0